* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.block {
    display: block;
}

.register-form {
    padding: 20px 30px;
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    margin: 50px auto; 
}

.register-form label {
    display: block;
    text-align: center;
}

.register-form input {
    margin-bottom: 20px;
    text-align: center;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 3px;
}

.register-form input:focus {
    border-bottom: 2px solid blue;
    outline: none;
}

#submitBtn {
    padding: 5px 10px;
    border: none;
    color: white;
    background-color: rgb(0, 126, 0);
    border-radius: 0;
    font-size: 15px;
}

#submitBtn:hover {
    background-color: rgb(0, 204, 0);
    cursor: pointer;
}

#submitBtn:active {
    background-color: rgb(0, 102, 0);
}

.submitBtn {
    padding: 5px 10px;
    border: none;
    color: white;
    background-color: rgb(0, 126, 0);
    border-radius: 0;
    font-size: 15px;
    margin-bottom: 30px;
    width: 100px;
}

.submitBtn:hover {
    background-color: rgb(0, 204, 0);
    cursor: pointer;
}

.submitBtn:active {
    background-color: rgb(0, 102, 0);
}

.input-block {
    text-align: center;
}

#errMsg {
    color: red;
}

#form { 
    background: rgba(0, 0, 0, 0.15); 
    padding: 0.25rem; 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    display: flex; 
    height: 3rem; 
    box-sizing: border-box; 
    backdrop-filter: blur(10px); 
}

#input { 
    border: none; 
    padding: 0 1rem; 
    flex-grow: 1; 
    border-radius: 2rem; 
    margin: 0.25rem; 
}

#input:focus { 
    outline: none; 
}

#form > button { 
    background: #333; 
    border: none; 
    padding: 0 1rem; 
    margin: 0.25rem; 
    border-radius: 3px; 
    outline: none; 
    color: #fff; 
}

#form > button:hover {
    background: #555555;
    cursor: pointer;
}

#form > button:active {
    background: #1f1f1f;
}


#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

#messages > li { 
    padding: 0.5rem 1rem; 
}

#messages > li:nth-child(odd) { 
    background: #efefef; 
}